<%- include('../partials/head') %>
<%- include('../partials/nav') %>


<div class="container">
<h2 class="text-center m-3">Lorem, ipsum dolor.</h2>
    <div class="row">
        <div class="col-3">
            <img src="/Love.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ad ullam cumque ipsum nobis quasi nostrum adipisci voluptatum, praesentium asperiores. Corporis ab numquam nemo hic, deserunt cumque quia vero quidem tempore obcaecati molestias amet excepturi dolore architecto soluta earum nam laudantium corrupti, quis ex quo enim aperiam error impedit. Mollitia?</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ut. Vel necessitatibus nesciunt consectetur. Eligendi enim est asperiores voluptatum ea provident perferendis ullam exercitationem molestiae libero esse possimus officiis ipsam mollitia doloremque dolorum unde officia, in odio aut cumque reiciendis. Officiis nostrum illo quo sed, nobis odio quod laudantium, quae doloremque debitis animi, consequatur voluptates minus ut? Pariatur placeat libero fugit, aspernatur delectus laborum cupiditate nisi voluptates eveniet dolores nemo!</p>
        </div>
    </div>
</div>

</body>
</html>
